routing-instances internet {
    protocols {
      bgp {
{% for shortremote, local_port, remote_port in lookup('topology','fabric-topology').items() | myport %}
  {% if "." not in shortremote %}
    {% set remote = "{}.{}.blade-group.net".format(shortremote,location) -%}
  {% endif %}
  {% set remote_index= lookup("topology","index", remote) -%}	
  {% set underlay = lookup("topology","underlay") %}
  {% set remote_as = lookup("bgp","evpn_as", remote) %}
  {% set remote_address = underlay | ipsubnet(24,remote_index) | ipsubnet(31,remote_port) %} {# ouai c est degeux mais ca marche #}
        group ipv{{ remote_address|ipv }}-{{ shortremote }} {
          type external;
          multipath multiple-as;
          description "{{ shortremote }} AS{{ remote_as }}";
          import CORE-IN-V{{ remote_address|ipv }};
          export CORE-OUT-V{{ remote_address|ipv }};
          neighbor {{ remote_address | ipaddr('address') }} {
              description {{ shortremote }};
              peer-as {{ remote_as }};
              local-as {{ lookup("bgp", "evpn_as") }};
          }
        }
{% endfor %}
{% set sspines = devices("environment", "location", "groups==sspine-bgp") %}
{% for sspine in sspines %}
  {% for port, device in lookup("topology", "ports", sspine).items() if device == shorthost %}
    {% for interface, infos in lookup("topology", "interfaces").items() if infos.remote is defined and "{}.{}.blade-group.net".format(infos.remote, location) == sspine %}
      {% set neighbor = lookup('bgptth', ':{} whatever'.format(port), sspine) %}
      {% set shortsspine = scope(sspine).shorthost %}
      {% for remote in (neighbor.public|ipaddr("address"), neighbor.public|ipaddr("address")|ipv4toipv6) %}
        group ipv{{ remote|ipv }}-{{ shortsspine }} {
          type external;
          multipath multiple-as;
          description "{{ shortsspine }} AS{{ neighbor.asn }}";
          import CORE-IN-V{{ remote|ipv }};
          export CORE-OUT-V{{ remote|ipv }};
          neighbor {{ remote }} {
              description {{ shortsspine }};
              peer-as {{ neighbor.asn }};
              local-as {{ lookup("bgptth", "").asn }};
          }
        }
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}
    }
  }
}
